<% if current_member %>
  <ul class="account-menu">
    <%= menu_link_to current_member.name + "さん", :account %>
    <%= menu_link_to "ログアウト", :session, method: :delete, data: { confirm: "ログアウトしますか？" } %>
    <%= menu_link_to "カート", :cart_products %>
  </ul>
<% end %>
<% if current_administrator%>
    <ul class="account-menu">
    <%=  "管理者 " + current_administrator.name + "さん"%>
    <%= menu_link_to "ログアウト", :session, method: :delete, data: { confirm: "ログアウトしますか？" } %>
  </ul>
<% end %>
<% if current_brand %>
  <ul class="account-menu">
    <%= Brand.all.find(current_brand.brand_id).name + "  " + current_brand.name + "さん"%>
    <%= menu_link_to "ログアウト", :session, method: :delete, data: { confirm: "ログアウトしますか？" } %>
  </ul>
<% end %>

<nav class="menubar">
  <ul>
    <%= menu_link_to "TOP", :root %>
    <% if current_administrator %>
    <%= menu_link_to "カテゴリー追加" , :categories %>
    <%= menu_link_to "ブランド追加" , :brands %>
    <% elsif current_brand %>
    <%= link_to "出品商品一覧" , Brand.find_by(id: current_brand.brand_id) %>
    <%= link_to "注文された商品" , :brand_order_orders %>
    <% end%>
  </ul>
</nav>