<table class="attr">
  <tr>
    <th>カテゴリー</th>
    <td><%= link_to Category.find_by(id: @product.category_id).name , Category.find_by(id: @product.category_id) %></td>
  </tr>
  <tr>
    <th>ブランド名</th>
    <td><%= link_to Brand.find_by(id: @product.brand_id).name , Brand.find_by(id: @product.brand_id) %></td>
  </tr>
  <tr>
    <th>商品名</th>
    <td><%= @product.name %></td>
  </tr>
  <tr>
    <th>価格</th>
    <td><%= @product.price %></td>
  </tr>
  <tr>
    <th>在庫</th>
    <td><%= @product.stock %></td>
  </tr>
</table>