<% @page_title = "商品の編集" %>

<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "商品の詳細に戻る", @product %></div>

<%= form_for @product do |form| %>
  <%= render "form", form: form %>
  <div><%= form.submit %></div>
<% end %>