<% @page_title = "å•†å“ã®è©³ç´°" %>

<h1><%= @page_title %></h1>

<%= render "body" %>

<% if current_member && current_member.votable_for?(@product) %>
  <%= link_to "ðŸ¤", [:like, @product], method: :patch, class: "button" %>
<% elsif current_member %>
  <%= link_to "â¤ï¸", [:unlike1, @product],method: :patch, class: "button" %>
<% end %>

<% if current_member && @purchase_flag%>
  <%= link_to "ã‚«ãƒ¼ãƒˆã«å…¥ã‚Œã‚‹", [:in , @product], method: :patch, class: "button" %>
<% elsif current_member %>
  <%= link_to "æ³¨æ–‡å€‹æ•°ã®å¤‰æ›´", :cart_products , class: "button"%>
<% end %>